.App {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.link {
	text-decoration: underline;
	color: purple;
	cursor: pointer;
}

.main {
	height: 100%;
}

.login-container {
	display: flex;
	justify-content: center;
}


