/*body {
	background-color: gray;
}*/

.App {
  text-align: center;
  background-color: white;
}

.capitalize {
  text-transform: capitalize;
}

.link {
	text-decoration: underline;
	color: purple;
	cursor: pointer;
}

.login-container {
	display: flex;
	justify-content: center;
}

.main {
	background-color: blue;
}

