.App {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.link {
	text-decoration: underline;
	color: purple;
	cursor: pointer;
}

.nav {
	display: flex;
	justify-content: space-around;
}

